<div class="container">
  <div class="row mt-4">
    <div class="col-sm-4">
      <div class="jumbotron px-5 py-2">
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit(f)"
          #f="ngForm"
          id="myForm"
          novalidate
        >
          <div class="form-group">
            <label for="username">User Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="model.username"
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
              name="username"
              minlength="4"
              required
              (keypress)="validateAlpha($event)"
            />
            <div
              class="invalid-feedback"
              *ngIf="f.submitted && username.invalid"
            >
              <div *ngIf="username.errors.required">Username is Required</div>
            </div>
            <div class="invalid-feedback" *ngIf="username.errors?.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="model.email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              name="email"
              required
              [pattern]="emailPattern"
            />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors && f.submitted" [ngClass]="'error'">
                <div *ngIf="email.errors.pattern">Email not valid.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-sm px-4 mr-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <table class="table table-bordered">
        <thead>
          <th>User Name</th>
          <th>Email</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of userData">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2">
      <a
        class="btn btn-primary btn-sm"
        href="https://docs.google.com/spreadsheets/d/1jbrjQGxH_dx26cL8OnsWVBX6Z463D8DgHaXd0nudzgs/edit#gid=0"
        target="_blank"
        >Open Google Sheet</a
      >
    </div>
  </div>
</div>
